* {
    box-sizing: border-box;
  }
  
  body {
    background: #fff;

  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto 200px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .team {
    padding: 40px 0px;
  }
  .team > h2 {
    text-align: center;
    color: #009961;
    text-transform: uppercase;
  }
  
  .member {
    position: relative;
    background: #ccc;
    width: 100%;
  }
  .member__img {
    display: block;
    width: 100%;
  }
  .member__info {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: calc(100% - 10%);
    bottom: 5%;
    left: 5%;
    padding: 5px 10px;
    color: #fff;
    background: #009961;
  }
  .member__info > * {
    flex: 1 0 100%;
  }
  .member.join {
    text-align: center;
    padding: 10px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    background: #D2D2C7;
  }
  .member.join p,
  .member.join small,
  .member.join strong {
    margin: 0px;
    flex: 0 1 100%;
  }
  .member.join a {
    position: relative;
    display: inline-block;
    padding: 6px 20px;
    text-decoration: none;
    background: #009961;
    color: #fff;
    border-radius: 30px;
    transition: all 0.25s ease;
  }
  .member.join a:hover {
    box-shadow: 0px 0px 15px 1px #009961;
  }
  @supports (display: grid) {
    @media (min-width: 800px) {
      .member.join p,
  .member.join strong,
  .member.join a {
        font-size: 1.5em;
      }
    }
  }
  .member:last-child {
    grid-column: 1/-1;
  }
  .member:last-child:nth-child(even) {
    grid-column: auto/span 1;
  }
  @media (min-width: 400px) {
    .member {
      flex: 0 1 50%;
    }
    .member.join {
      flex: 1 0 50%;
      padding: 10px 0px;
      min-height: 200px;
      height: auto;
    }
  }
  @media (min-width: 600px) {
    .member {
      flex: 0 1 33.33%;
    }
    .member:nth-child(1) {
      order: -5;
    }
    .member:nth-child(2) {
      order: -4;
    }
    .member:nth-child(3) {
      order: -3;
    }
    .member:nth-child(4) {
      order: -2;
    }
    .member:nth-child(5) {
      order: -1;
    }
    .member.join {
      flex: 1 0 33.33%;
      order: -2;
    }
    .member:last-child, .member:last-child:nth-child(even) {
      grid-column: 2;
    }
  }
  @media (min-width: 800px) {
    .member {
      flex: 0 1 25%;
    }
    .member.join {
      flex: 1 0 50%;
      height: auto;
      order: -1;
      grid-column: 2/span 2;
      grid-row: 2/span 2;
    }
    .member:last-child, .member:last-child:nth-child(even) {
      grid-column: 2/span 2;
    }
  }



  /* Navbar */
.nav-section{
  width:100%;
  position: sticky;
  top:0;
  z-index: 100;
  background-color:#0f0f0f;
  background: var(--primary-color);
 border-radius:8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.4px);
-webkit-backdrop-filter: blur(7.4px);
border: 1px solid rgba(17, 17, 17, 0.13);
}
.logo1
{
  height:100%;
}
.logo{
  display:inline-block;
  height:100%;
  width:80px;
  padding: 4px;
}
.nav-item{
  list-style: none;
}
.nav-item a{
  color:var(--seconday-color);
  text-decoration: none;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 23px;
  left: 4px;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover
{
  color:#009961;
  
}
.navbar{
min-height: 70px;
display: flex;
/* align-items: center; */
justify-content: space-between;
align-items: center;
padding: 0 48px !important;

}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}
.nav-link{
  transition: 0.7s ease;
}
.nav-link:hover{
  color:#009961;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width:25px;
  height: 3px;
  margin:5px auto;
  -webkit-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out ;
  background-color: var(--seconday-color);
}
@media(max-width:768px){
  .nav-section{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius:8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(17, 17, 17, 0.13);
  }
  .navbar a:hover
{
  color:#009961;
  
}
.navbar {
  padding: 10px !important;
}
  .logo{
    width:70px;
  }
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    position: fixed;
    left:-100%;
    top:90px;
    gap:0;
    flex-direction: column;
    background-color:var(--primary-color);
    width:100%;
    color:var(--seconday-color);
    text-align:center;
    transition: 0.3s;
    z-index: 100;
  }

  .nav-item{
    margin:16px 0;
  }
  .nav-menu.active{
    left:0;
  }

}